@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

*,
::before,
::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'poppins';
    scroll-behavior: smooth;
    overflow-x: hidden;
}
:root{
    /* --primary:#461b6c; */
    /* --dark-mode-primary:#2f1c42; */
    --dark-mode-primary: #1e1c42;
    /* --icon-color:#eeeeee; */
    --icon-color:#43b3ea;
    /* --icon-color-dark:rgb(127 19 228); */
    /* --dark-text-color:#fefefe; */
    --dark-text-color:#3b6cd9;
    --light-mode-primary:aliceblue;
    --light-text-color:rgb(84, 16, 111);
    /* --input-color-dark:#3e0c64; */
    --input-color-dark:rgb(47 47 154);
    --input-color-light:#dad6de;
    --input-text-color-light:#565151;
    --input-text-color-dark:aliceblue;
    --skills-dark:#2f1c42;
    /* --project-content-light:#3e0c64; */
    --project-content-light:#191247;
    /* --project-content-dark:#3e0c64; */
    --description:#eeeeee;
}

body{
    margin:0;
    /* overflow-x: hidden; */
}

li{
    list-style: none;
}


p{
    color:var(--dark-text-color);
    font-size: 20px;
}
.container{
    width:100vw;
    /* background-color: green; */
    height:auto ;
    background:var(--dark-mode-primary)
    /* background: black */
}

@media screen and (min-width: 680px)
{
    .container{
        /* background-color: red; */
        width:100vw;
        height:auto;
    }
}


.section{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    height:100vh;
    padding-left:3rem;
    padding: 1.2rem 2.4rem 3.6rem
    
}


.container > .section{
    position: relative;
    height: 100vh;
    padding-top: 3.6rem
}

@media screen and (min-width: 680px){
    .container > .section {
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 4.5rem 3.6rem
        

    }
}
 .profile-pic{    
    display: flex;
    justify-content: center;
    /* padding:2rem 1.28rem; */
}

.profile-pic-container{
    width: 100vw;
    display: flex;
    justify-content: center;
    /* padding: 5rem 0 2.8rem; */
}

@media screen and (min-width: 680px){
    .container > .section > .profile-pic-container> .profile-pic{
        align-items: center;
        justify-content: center;
        /* padding-right:5rem; */
        /* background-color: green; */
        width:100%;
        padding-bottom: 10rem;
    }
    .blob{
        width:28rem;
    }
}

.profile-pic-img{
    display: flex;
    align-items: center;
   

}

.section >  .profile-pic  >.img1{
    /* border-radius: 50%; */
    /* width: 12rem;
    position: absolute;
    overflow-x: hidden;
    top:188px; */
    width: 9rem;
    transform: translate(18px, 37px);
}


.text-content{
   
    /* background-color: red; */
        width:100%;
        padding-bottom: 3rem;
        overflow-y: hidden;

}

@media screen and (min-width: 680px){
    .text-content{ padding-left:5rem;
    /* padding-bottom: 3rem; */
    }
}


.text-content > .text-color {
    font-size: 2.5rem;
    color:var(--dark-text-color);
}

.text-content p{
    color:var(--dark-text-color)
}

.social-icons{
    display: flex;
    flex-direction: column;
    /* padding-top:2rem; */
    position:absolute;
    top:157px;
    left:45px;
 }

 @media screen and (min-width: 680px){
    .container > .section > .social-icons{
        top:40%;
        left:95px;
 }

}

.icons{
    /* background-color: red; */
    width:20px;
}   


.item{
    fill:var(--icon-color);
    width:20px;
    padding-bottom:1rem;
}

/* .icons > .item{
    width:20px;
} */
.btn{
    padding: 5px 5px 5px 5px;
    width: 150px;
    border-radius: 9px;
    background-color:#3b6cd9;
    margin-left:0px;
    margin-top:50px;
    border:none;
    color:aliceblue;
    cursor: pointer;
    padding:1rem 1rem;
}

.text-content h2{
    text-align: center;
    font-size: 2.5rem;
    
}

.tex-content-intro{
    text-align: center;
    color:rgb(13, 138, 13);
    font-weight: bolder;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke-width: 0.4px;
}


.img2{
    width: 15rem;
    border-radius: 10px;
}

.about-me{
    /* margin-left:3%; */
    padding: 1.2rem 2.4rem 3.6rem;
}


.pic2{
display: flex;
    align-items: center;
    justify-content: center;
}

.img1{
    width: 8rem;
    transform: translate(32px, 49px);
}


.about-item{
    fill:var(--icon-color);
    width: 20px;
}

@media screen and (min-width: 980px){
    .container > .section-about {
        flex-direction: row;
        justify-content: space-between;
       display: flex;
        padding: 1.2rem 4.5rem 3.6rem            
    }
    

    .pic2{
        padding-left:0px;
        padding-bottom:140px;
        width:100%;
    }
}

.about-me-icons{
    padding-top:10px;
    display:flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;

}

.text{
    color: var(--dark-text-color);
    padding-left:10px;
}


.section-about{
    flex-direction: column;
    /* justify-content: space-between; */
   display: flex;
    padding: 1.2rem 1.5rem 1.6rem    
}


.section-skill{
    flex-direction: column-reverse;
    /* justify-content: space-between; */
   display: flex;
    padding: 1.2rem 1.5rem 1.6rem  ;
    align-items: center;
}


.skills{
    background-color:var(--input-color-dark);
    width:300px;
    height:250px;
    
    /* margin-top:30px; */
    /* position: relative; */
    border-radius: 14px;
}

.skill-detail{
    position: relative;
    overflow: hidden;
    width:100vw;
    /* background-color: red; */

    /* background-color: red; */
}



@media screen and (min-width: 680px){
    .skills{
        margin-left:90px;
    }
    .container > .section-skill {
        flex-direction: row;
        justify-content: space-around;
       display: flex;
        padding: 1.2rem 3.5rem 3.6rem 
}

/* 
@media screen and (min-width: 680px){
    .container > .section-about {
        flex-direction: row;
        justify-content: space-around;
       display: flex;
        padding: 1.2rem 4.5rem 3.6rem            
    }
    .about-me{
        margin-left:13%;
    }

    .pic2{
        padding-left:10%;
        padding-bottom:11%;
    }
} */

}



.skill{
    height:10px;
    background-color: var(--skills-dark);
    position: absolute;
    left:0px;
    border-radius: 4px;
    margin-left:20px;
    top:30px;
}

.skill1{
    
    width:200px;
    /* background-color: red; */
    
}

.skill2{
    /* top:90px; */
    width:230px;
}

.skill3{
    /* top:150px; */
    width:190px;
}

.skill4{
    /* top:210px; */
    width:170px;
}



.skill-remain{
    height:10px;
    background-color: rgb(239, 198, 248);
    position: absolute;
    top:30px;
    border-radius: 0px 4px 4px 0px
}


.skill-remain1{
    width:50px;
    left:200px; 
}
.skill-remain2{
    /* top:90px; */
    width:20px;
    left:230px;
}

.skill-remain3{
    /* top:150px; */
    width:60px;
    left:190px;
}

.skill-remain4{
    /* top:210px; */
    width:60px;
    left:170px;
}

    .text1{
        margin-left:20px;
        margin-top:10px;
        text-transform: capitalize;
        font-size:12px;
        /* color:rgb(5, 88, 5) */
        color:var(--dark-text-color);
    }
    
    .text2{
        margin-left:20px;
        margin-top:40px;
        text-transform: capitalize;
        font-size:12px;
        /* color:rgb(5, 88, 5); */
        color:var(--dark-text-color);
    }
    .text3{
        margin-left:20px;
        margin-top:40px;
        text-transform: capitalize;
        font-size:12px;
        /* color:rgb(5, 88, 5) */
        color:var(--dark-text-color);
    }
    
    .text4{
        margin-left:20px;
        margin-top:40px;
        text-transform: capitalize;
        font-size:12px;
        /* color:rgb(5, 88, 5) */
        color:var(--dark-text-color);
    }

.skill-display{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    flex-wrap: wrap;
    width: auto;
}

@media screen and (min-width: 480px ){
    .skill-display{
        width: 400px;
    }
}


.image-skill{
    padding:20px;
    /* margin-left:13%; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.percentage{
    margin-left: 258px;
    font-size:12px;
    /* color:rgb(5, 88, 5) ; */
    color:var(--dark-text-color);
    margin-top:-17px;
    position: absolute;
    top: 44px;
}



/* .project{
    padding-bottom:10px;
    width:42%;
    height:100vh;
} */

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: red */    
    margin-left: 1%;
    width:100%;
    /* padding: 1.2rem 12.5rem 1.6rem; */
}

@media screen and (min-width: 480px){
    .projects{
        flex-direction: row;
        justify-content: space-around;
        align-items: left;
        /* padding: 3.2rem;
        margin-left: 5%; */
        /* margin-left: 5%; */
        
    }
}

@media screen and (max-width: 859px){
    .projects{
        display: flex;  
        flex-wrap:wrap;
        justify-content: space-around;
        align-items: left;
        /* padding: 3.2rem; */
        margin-left: 5%;
    }
}


.project{
    width:fit-content;
    padding-bottom:30px
}

@media screen and (min-width: 1040px){
    .project{
        width:42%;
        /* background-color: green; */
    } 
}


@media screen and (min-width: 642px){
    .project{
        width:42%;
        padding-bottom:30px;
        /* background-color: red; */
        /* height:100vh; */
    } 
}




.project-img{
    width: 15rem;
    height:15rem;
    align-self: center;
    margin-top:3%;
    border-radius:7%;
}

.project-content{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: left;
    margin-right:10%;
    background: var(--project-content-light);
    border-radius:15px;
    /* box-shadow: 0px 4px 4px rgba(206, 147, 245, 0.699) */
    /* background:#3e0c64; */
    /* box-shadow: 0px 4px 4px rgb(74 7 117 / 70%);
    box-shadow: 0px 4px 4px rgb(235 213 249 / 70%); */
}

/* @media screen and (max-width: 859px){
    .project-content{
    align-items: center;
}
    } */



.project-name,a{
    color:var(--description);
    text-align: center;
    font-size: 19px;
    padding-top: 10px;
    }

    .description{
        font-size: 13px;
        text-align: justify;
        color: var(--description);
        padding-left:8px;
        padding-right:8px;
        padding-top:15px;
        padding-bottom: 10px;
    
    }


.item-list{
        padding-right: 5px;
        padding-top:10px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* text-align: right; */
        align-items: center;
        width:100%;
        position: fixed;
        top:0px;
        left:0px;
        z-index: 100;
        /* background-color:#FFFAFA; */
        background-color :var(--dark-mode-primary);
        /* background-color:inherit; */
        /* color:aliceblue; */
        /* height: 150px; */
        /* background-color: rgb(126, 11, 221); */
        /* background-color: rgb(248, 248, 248); */
        /* background-color: inherit; */
        /* color:var(--text-color); */
        border-radius: 0px 0px 15px 15px;
        /* box-shadow: 0px 4px 4px rgb(76 44 108 / 70%); */
        box-shadow: 0px 4px 4px rgb(32 37 84 / 70%);
        
}


@media screen and (min-width: 1000px){
    .item-list{
        display: block;
        position: fixed;
        top:0px;
        left:0px;
        height: 50px;
        overflow-y: hidden;
        width:100%;
        padding-top:10px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 100;
        /* background-color: rgb(126, 11, 221); */
        color:var(--dark-text-color);
        border-radius: 0px;
        /* box-shadow: 0px 4px 4px  rgb(76 44 108 / 70%); */
        box-shadow: 0px 4px 4px rgb(32 37 84 / 70%);
        

    } 

}




.list-item{
    color:var(--dark-text-color);
    /* color:#6f01c3; */
    /* color:rgb(56, 55, 55); */
    /* color:aliceblue; */
    text-decoration: none;
    /* border:1px solid rgb(216, 126, 249); */
    padding-top: 50px;
    text-align: center;
    text-transform: capitalize;
    
    /* background-color: red; */
}

.grid-item{
    position: relative;
    top:-37px;
}

@media screen and (min-width: 1000px){
.list-item{
    color:var(--dark-text-color);
    text-decoration: none;
    padding-left:20px;
    border:none;
    /* color: #3b6cd9; */
    -webkit-text-stroke-width: medium;
    letter-spacing: 2px;
    /* background-color: red; */
    
}
.grid-item{
    position: relative;
    top:0px;
}
}

.close-btn{
    width:20px;
    background-color: inherit;
    /* height:20px; */
    height: auto;
    position: absolute;
    top:0px;
    right:18px;
    justify-content: center;
    border: none;
    /* fill:rgb(148, 3, 3); */
    fill:rgb(141, 138, 138);
    /* padding-bottom:10px; */
    cursor: pointer;
    
}


.hide{
    display: none;
}

.alt-list{
    padding-left:10px;
    padding-top:10px;
    /* background-color: red; */
    width:100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* position: fixed;
    top:0px; */
    background-color :var(--dark-mode-primary);
    /* background-color: red; */
    /* box-shadow: 0px 4px 4px rgb(61 52 52 / 70%);
    box-shadow: 0px 4px 4px rgba(162, 162, 162, 0.7); */
    
    /* align-items: center; */
    
}
@media screen and (min-width: 1000px){
    .alt-list{
        display: none;
        /* background-color: green; */
    }
    .item-list{
        display: block;
    }
    .close-btn{
        display: none;
    }
    
}

.show-menu{    
    border: none;
    cursor: pointer;   
    padding-bottom: 10px;
    /* background: inherit; */
    background-color: var(--dark-mode-primary);
}

.menu-option
{
    width:30px;
    height:30px;
    fill: var(--dark-text-color);
}

.fixed-header{
    position: fixed;
    top:0px;
    left:0px;
    z-index: 100;
    /* background-color: var(--dark-mode-primary); */
    /* box-shadow: 0px 4px 4px rgba(162, 162, 162, 0.7); */
}

.theme{
    position: absolute;
    right:10px;
}


.section-contact{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    /* height:100vh; */
    padding-left:3rem;
    padding: 1.2rem 2.4rem 3.6rem
    
}

@media screen and (min-width: 980px){
    .container > .section-contact {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 4.5rem 3.6rem
        

    }
}



.form{
    /* background-color: red; */
    height:auto;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    padding-left:20px;
}

.form1{
    /* background-color: green; */
    display: grid;
    grid-template-columns: auto 1fr;
    width:100%;
}


.form1-dtls{
    padding-left:10px;
    padding-bottom: 20px;
}

.menu-option1{
    width: 30px;
    height: 30px;
    /* fill:#A143EA; */
    fill:#43b3ea;
}


.footer{
    background-color:rgb(47 47 154);
    height:150px;
}



.form2{
    /* background-color: blue; */
    width: 100%;
    display: block;
    /* padding-left:10rem; */
}
.contact-me-name{
    /* height:7.3rem; */
    /* width:100%; */
    background-color:var(--input-color-dark);
    padding:1rem;
    margin-bottom: 1.4rem;
    border-radius: 10px;
}

.contact-me-message{
    background-color:var(--input-color-dark);
    /* height: 7.3rem; */
    padding:1rem;
    margin-bottom: 1.4rem;
    border-radius: 10px;
}

textarea{
    resize: none;
}

.input {
    background-color: transparent;
    border: none;
    line-height: 1.3;
    width: 100%;
}

.label{
    color:var(--input-text-color-dark);
}

.footer p{
    text-align: center;
    padding-top: 50px;
    color:aliceblue;
}



/* .test{
    position: absolute;
    width: 225px;
    height: 179px;
    left: 206.29px;
    top: 32px;
    background: #B60CE0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    } */

.blob{
    fill:#4367ea;
    width: 19rem;
}

.text-col{
    color:#009688;
}

.text-color{
    color:#009688; 
}

@media screen and (min-width: 680px){
    .blob{width: 25rem;
    }
}

mask{
    fill: #d9d9d9;
}

.source-code{
    position: relative;
}

.github-link{
    position: absolute;
    left: 45px;
    padding:0px;
}


.icons-img{
    width:100px;
    border-radius: 20%;
}

.icons-img:hover{
    transform:scaleX(1.07);
    transition: 1s ease-in-out;
    cursor:pointer;

}

.git-icon{
    padding-left:15px;
}